
/* global styles only in here  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    text-align: center;
    min-height: 100vh;
    font-size: 1rem;
}

.credit {
    text-align: center;
}

.credit-link {
    text-decoration: none;
    color: red;
}


nav {
    margin: 0 auto;
    color: white;
    padding: 10px 20px;
    text-align: center;
}