#quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  text-align: center;
}

#quiz > div {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#question {
  margin-bottom: 20px;
}

#nextButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  display: block;
}

#nextButton:hover {
  background-color: #0056b3;
}

#quizContainer,
#answers,
#nextButtonContainer {
  border: none !important;
  box-shadow: none !important;
}

@keyframes countdown {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.progress-bar-animate {
  animation: countdown 20s linear;
}
